# Enable Bzlmod for every Bazel command
common --enable_bzlmod

# Default build with debug info
build --copt -g
build --strip=never

# We support C++ 20
build --host_cxxopt='-std=c++20'
build --cxxopt='-std=c++20'

# This only works on Clang (llvm toolchain)

build --cxxopt='-Wall'
build --cxxopt='-Wdeprecated'
build --cxxopt='-Wcomment'
build --cxxopt='-Wimplicit-fallthrough'
build --cxxopt='-Wnarrowing'
build --cxxopt='-Wnull-dereference'
build --cxxopt='-Wregister'
build --cxxopt='-Wshift-count-negative'
build --cxxopt='-Wshift-count-overflow'
build --cxxopt='-Wint-to-pointer-cast'
build --cxxopt='-Wodr'
build --cxxopt='-Wshadow-all'
build --cxxopt='-Wcall-to-pure-virtual-from-ctor-dtor'
build --cxxopt='-Wdangling'
build --cxxopt='-Winteger-overflow'
build --cxxopt='-Winvalid-noreturn'
build --cxxopt='-Wnull-arithmetic'
build --cxxopt='-Wnull-conversion'
build --cxxopt='-Wunsequenced'
build --cxxopt='-Wunreachable-code-aggressive'
build --cxxopt='-Wvoid-pointer-to-int-cast'
build --cxxopt='-Wwritable-strings'
build --cxxopt='-Wmismatched-parameter-types'
build --cxxopt='-Wmismatched-return-types'
build --cxxopt='-fno-trigraphs'
build --cxxopt='-fno-digraphs'
build --cxxopt='-ffp-model=strict'
